@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #174864;
    font-family: 'Outfit', sans-serif;
}
.split {
    height: 100%;
    /* width: 50%; */
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #8AAC9E;
  }

  .left {
    left: 0;
    background-color: #035F65;
    width: 30%;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color:#174864 ;
    width: 70%;
  }


.content h2 {
    text-align: center;
    color: #67F5BA;
    
}

.content p{
    text-align: justify;
    color: #8AAC9E;
}
.content{
    padding: 3em;

}

::placeholder{
    color: #8AAC9E;
    font-family: 'Outfit', sans-serif; 
}
input{
    background-color: #035F65;
    border: none;
    width: 20em;
    height: 2.5em;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin-top: 1em;
    font-family: 'Outfit', sans-serif; 
    -webkit-box-shadow: -2px -1px 15px 7px rgba(97,0,0,0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
  box-shadow: -4px -3px 45px 21px rgba(5, 54, 54, 0.2);

}


.button{
    background-color: #61CC9F;
    color: #035F65;
    width: 10em;
}

.latlong{
    display: inline !important;
    width: 20em;
}

.select{
    width: 10em;
    color: #8AAC9E;
    background-color: #035F65;
    padding: 0.35em;
    border: none;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif; 
    margin-left: 1.5em;
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #035F65;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #8AAC9E;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #67F5BA;
  }
  
  .sidenav .closebtn {
    position: absolute;
    color: #67F5BA;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 10px;}
  }

