@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #174864;
    font-family: 'Outfit', sans-serif;
}

.main-heading{
    color: #67F5BA;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    font-size: 2em;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 2em; */
    
}
.left{
    margin: 3em;
    padding: 2rem;
    background-color: rgb(17, 242, 148,0.13);
    height: auto;
    color: #8AAC9E;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(97,0,0,0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
  box-shadow: -4px -3px 45px 21px rgba(11, 56, 36, 0.35);
  border-radius: 20px;

}
.right{
    /* padding: 5rem; */
    margin: 3em;
}

#mychart{
    width: 20em;
    height: 20em;
}

/* form */





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #035F65;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #8AAC9E;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #67F5BA;
  }
  
  .sidenav .closebtn {
    position: absolute;
    color: #67F5BA;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 10px;}
  }




  .desc {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-left: 25%;
    margin-right: 25%;
    color: #8AAC9E;
    background-color: #035F65;
    padding: 2em;
    border-radius: 20px;
    /* box-shadow: 5px 5px rgb(97, 204, 159,0.43); */
    -webkit-box-shadow: -2px -1px 15px 7px rgba(97,0,0,0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
  box-shadow: -4px -3px 45px 21px rgba(11, 56, 36, 0.35);
  }

  .data{
     text-align: center;
     margin-top: 3em;
     color: #67F5BA;
      /* width: ; */
      /* padding: 2em; */
  }
  .npk h2{
    text-align: center;
    /* margin-top: 3em; */
    color: #67F5BA;
     /* width: ; */
     /* padding: 2em; */
 }

  .npk{
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    margin-top: 3em;
    margin-left: 25%;
    margin-right: 25%;
    color: #8AAC9E;
    background-color: #035F65;
    padding: 2em;
    border-radius: 20px;
    /* box-shadow: 5px 5px rgb(97, 204, 159,0.43); */
    -webkit-box-shadow: -2px -1px 15px 7px rgba(97,0,0,0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
  box-shadow: -4px -3px 45px 21px rgba(11, 56, 36, 0.35);
  }

  .legend{
      text-align: center;
      font-size: 0.75em;
      color: #8AAC9E;
      margin-left: 25%;
    margin-right: 25%;
  }
  .des{
    text-align: center;
    font-size: 0.75em;
    color: #8AAC9E;
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
   
}