@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #174864;
    font-family: 'Outfit', sans-serif;
}

.main-heading{
    color: #67F5BA;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    font-size: 2em;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 2em; */
    
}
.left{
    margin: 3em;
    padding: 2rem;
    background-color: rgb(17, 242, 148,0.13);
    height: auto;
    color: #8AAC9E;

}
.right{
    padding: 2rem;
}



/* form */





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #035F65;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #8AAC9E;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #67F5BA;
  }
  
  .sidenav .closebtn {
    position: absolute;
    color: #67F5BA;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 10px;}
  }