<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <h2 class = "data">{{crop}}</h2>
    <div class="desc">
    <p>{{description}}</p>

    </div>
    <!-- <img src="{{url_for('static', filename='{{path1}}')}}"/> -->
    <!-- <img src="../assets/images/apple.jpg"> -->
</body>
</html>