<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    <div class="npk">
        <h2>{{crop}}</h2>
        <p>The required values for NPK:
        </p>
        <p>Nitrogen : {{nret}}</p>
        <p>Phosphorous : {{pret}}</p>
        <p>Potassium : {{kret}}</p>
        <p>{{description}}</p>
        

    </div>

    <p class = "legend">*In the predicted data the negative sign indicates that the nutrients value should be less than the given value for the given crop. Here the output depicts the change between the most accurate and the given value.</p>
    
</body>
</html>